# IA - Google Gemini
VITE_GEMINI_API_KEY=AIzaSyA8pQOVnGhCRzJru_xDTlM8Z_WtoKIlQsQ

# Banco de Dados - Supabase
VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_sTGvymCLWKK8mg9RqYZ-ug_eo5Poom8
